[project]
	description = My dot files.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ken Hilton (kenosis6971)
[access "refs/for/refs/*"]
	read = group user/Ken Hilton (kenosis6971)
	push = group user/Ken Hilton (kenosis6971)
	label-Code-Review = -2..+2 group user/Ken Hilton (kenosis6971)
	label-Verified = -1..+1 group user/Ken Hilton (kenosis6971)
	rebase = group user/Ken Hilton (kenosis6971)
	removeReviewer = group user/Ken Hilton (kenosis6971)
	submit = group user/Ken Hilton (kenosis6971)
[access "refs/heads/*"]
	read = group user/Ken Hilton (kenosis6971)
	create = group user/Ken Hilton (kenosis6971)
	push = +force group user/Ken Hilton (kenosis6971)
	pushMerge = group user/Ken Hilton (kenosis6971)
[access "refs/tags/*"]
	push = +force group user/Ken Hilton (kenosis6971)
	pushTag = group user/Ken Hilton (kenosis6971)
	pushSignedTag = group user/Ken Hilton (kenosis6971)
